.sidebarLeft {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0px 20px;
  height: 85vh;
  position: sticky;
  top: 100px;
  margin: 5px;
}

.sidebarLeft__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 5px;
  color: #444;
  /* background: #444; */
}
.sidebarLeft__header > p {
  flex: 1;
  margin-left: 15px;
}
.sidebarLeft__header .MuiSvgIcon-root {
  cursor: pointer;
}
.sidebarLeft__items {
  flex: 1;
  list-style: none;
}
.sidebarLeft__items > li {
  cursor: pointer;
  display: flex;
  font-size: 23px;
  padding: 10px;
  justify-self: space-between;
  align-items: center;
  color: #444;
  border-radius: 50px;
}
.sidebarLeft__items > li:not(:last-child) {
  margin-bottom: 10px;
}
.sidebarLeft__items > li > .MuiSvgIcon-root {
  margin-right: 15px;
}
.sidebarLeft__items > li:hover {
  background: #f0f0f0;
}
.sidebarLeft__items > li > p {
  flex: 1;
}
.sidebarLeft__items > li > span {
  background: #f1f1f1;
  color: #444;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  text-align: center;
  font-size: 14px;
}
.new {
  font-size: 14px;
  color: #444;
}
.btn {
  background: #f1f1f1;
  color: #444;
  width: 80%;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.caption {
  padding: 8px 10px;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
  color: #444;
}
.post__label {
  width: 50%;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #444;
  text-decoration: underline;
}
.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin-bottom: 5px;
}
.post__button {
  padding: 8px 10px;
  background: #444;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50px;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.post__button:disabled {
  cursor: no-drop;
}
