.app {
  /* padding-top: 40px; */
}
.app__body {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  /* position: relative; */
}
.app__posts {
  padding-top: 50px;
}
